div .card-category__text_mobile {
  @media (min-width: 0px) and (max-width: 767px) {
    font-size: 26px;
    line-height: 32px;
    top: 115px;
    left: 127px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 124px;
    left: 126px;
    transform: translate(-50%, -50%);
  }
}

.card-category {

  position: relative;

  @media (min-width: 811px) and (max-width: 1160px) {
    margin-right: 5px;
  }

  @media (min-width: 768px) and (max-width: 810px) {
    padding-right: 20px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    margin-right: 16px;
  }

  &__img {
    @media (min-width: 768px) and (max-width: 810px) {
      width: 259px;
      height: 249px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 247px;
      height: 238px;
    }

    &_size {

      @media (min-width: 1087px) and (max-width: 1180px) {
        width: 265px; 
        height: 255px;
      }

      @media (min-width: 769px) and (max-width: 1086px) {
        width: 280px;
        height: 270px;
      }

      @media (min-width: 695px) and (max-width: 768px) {
        width: 203px;
        height: 196px;
      }

      @media (min-width: 0px) and (max-width: 694px) {
        width: 160px;
        height: 155px;
      }


    }
  }

  &__text {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 26px;
    line-height: 32px;
    text-transform: uppercase;
    color: #ffffff;
    display: flex;
    justify-content: center;
    text-align: center;
    align-items: center;
    position: absolute;
    top: 134px;
    left: 140px;
    transform: translate(-50%, -50%);

    @media (min-width: 811px) and (max-width: 1160px) {
      font-size: 26px;
      line-height: 32px;
      top: 133px;
      left: 140px;
    }

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 26px;
      line-height: 32px;
      top: 125px;
      left: 130px;
    }
  }
}

.card-category__link:hover .card-category__text,.card-category__link:focus .card-category__text {
  text-decoration-line: underline;
  cursor: pointer;
}

.card-category__link:focus {
  outline: none;
}

.card-category__category_text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 26px;
  line-height: 32px;
  text-transform: uppercase;
  color: #ffffff;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  position: absolute;
  top: 133px;
  left: 140px;
  transform: translate(-50%, -50%);

  @media (min-width: 769px) and (max-width: 900px) {
    font-size: 24px;
    line-height: 29px;
    top: 139px;
    left: 137px;
  }

  @media (min-width: 695px) and (max-width: 768px) {
    font-size: 24px;
    line-height: 29px;
    top: 101px;
    left: 103px;
  }


  @media (min-width: 0px) and (max-width: 694px) {
    font-size: 18px;
    line-height: 22px;
    top: 77px;
    left: 81px;
  }


}

.card-category__link:hover .card-category__category_text,.card-category__link:focus .card-category__category_text {
  text-decoration-line: underline;
  cursor: pointer;
}

.card-category__link:focus {
  outline: none;
}