/* poster */

.poster {
  display: flex;
  margin-top: 129px;
  width: 100%;

  &__slider {
    background-color: #eee4db;
    position: relative;
    padding-top: 1px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1e0606;
    margin-bottom: 20px;
    margin-top: 89px;
    margin-left: 133px;
    display: flex;
    flex-wrap: wrap;
    width: 307px;
    height: 88px;
  }

  &__text {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 133px;
  }
  &__buttons {
    position: absolute;
    left: 20px;
    top: 87px;
  }

  &__page {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    position: absolute;
    width: 61px;
    height: 74px;
    position: absolute;
    top: 17px;
    left: 28px;
  }

  &__button {
    background-color: #d6cac2;
    border: none;
    padding: 0;
    height: 3px;
    width: 31px;
    display: flex;
    flex-direction: column;
    margin: 11px;
  }

  &__img {
    position: absolute;
    left: 445px;
    bottom: 40px;
  }

  &__underpost-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #c29974;
    text-transform: uppercase;
    height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 20px;
  }

  &__button:hover,&__button:focus {
    background-color: #725f5b;
    cursor: pointer;
  }
  
  &_button:focus {
    outline: none;
  }
}

.active-block:not(:hover) {
  background-color: #725f5b;
}


/* category product */

.category {
  &__title {
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;
  }

  &__list {
    display: flex;
    justify-content: space-between;
    flex-wrap: wrap;
    margin-bottom: 25px;
  }

  &__button {
    display: flex;
    justify-content: flex-start;
  }

  &__button_list {
    background-color: rgba(112, 187, 220, 0.2);
    padding: 0;
    border: none;
    margin-left: 3px;
    width: 37px;
    height: 37px;
  }
}

.button-change {
  margin-left: -4px;
}

.block-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

.under-category-text {
  width: 580px;
  height: 44px;
  margin-left: 20px;
  margin-top: 0px;
}



/*delivery*/

.slider {
  display: flex;
  margin-top: 71px;
  flex-wrap: wrap;

  &__img {
    background-color: rgba(112, 187, 220, 0.2);
  }

  &__title {
    margin-top: 30px;
    margin-left: 61px;
    margin-bottom: 17px;
    font-family: "Montserrat",sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;
  }

  &__block {
    margin-left: 60px;
    display: flex;
    flex-direction: column;
  }
  
  &__button {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;
  }

  &__button_item {
    font-family: Crimson Text;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;
  }

  &__button_item_active {
    font-weight: bold;
    margin-bottom: 11px;
    margin-top: -6px;
    background-color: rgba(112, 187, 220, 0.2);
    width: 326px;
    padding-top: 11px;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;
  }

  &__button_item_mt_mb {
    margin-bottom: 30px;
    margin-left: 60px;
  }

  &__button_item_ml_mb {
    margin-left: 60px;
    margin-bottom: 22px;
  }
  
  &__text {
    display: flex;
    flex-wrap: wrap;
    width: 480px;
    margin-left: 60px;
    margin-top: 0px;
  }
  
}

/*partners*/

.partners {
  margin-top: 90px;
  margin-bottom: 116px;

  &__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  align-items: center;
  flex-wrap: wrap;
}
}


/*about us*/

.article {
  display: flex;
  justify-content: flex-start;
  margin-bottom: -20px;
}

.aboutUs__article {
  background-color: #e1f0f7;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 168px;
  width: 543px;
  margin-right: 57px;
}

.aboutUs__title_main {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  position: absolute;
  top: -25px;
  bottom: 231px;
  margin-top: 0px;
  margin-bottom: 0px;
  font-family: "Montserrat",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #1e0606;
  text-transform: uppercase;
}

.aboutUs__title {
  margin-top: 31px;
  margin-bottom: 10px;
  margin-left: 30px;
  font-family: Crimson Text;
  font-style: italic;
  font-weight: normal;
  font-size: 26px;
  line-height: 32px;
}

.aboutUs-text {
  margin-left: 30px;
  margin-bottom: 20px;
  display: flex;
  flex-wrap: wrap;
  width: 483px;
  margin-top: 0px;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;

}

.contacts__article {
  background-color: #e1f0f7;
  display: flex;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  margin-bottom: 194px;
  width: 543px;
}

.contacts__title {
  display: flex;
  flex-wrap: wrap;
  margin-left: 30px;
  position: absolute;
  bottom: 189px;
  margin-bottom: 0px;
  font-family: "Montserrat",sans-serif;
  font-style: normal;
  font-weight: 700;
  font-size: 38px;
  line-height: 46px;
  color: #1e0606;
  text-transform: uppercase;
}

.contacts__text {
  width: 483px;
  padding-bottom: 0px;
  margin-top: 40px;
  margin-left: 30px;
  font-family: "Open Sans",sans-serif;
  font-style: normal;
  font-weight: 400;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
}

/* map in articke */
.map {
  width: 483px;
  height: 196px;
  margin-left: 30px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 127px;
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* modal form */

.modal-form-window {
  width: 680px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  padding-top: 22px;
  margin: auto;
  background-color: #e5eaf8;
  position: relative;
}

.checkbox-margin {
  margin-right: 15px;
}

.modal-form {
  background-color: rgba(125, 151, 218, 0.8);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
}

.modal-form-none {
  display: none; /*до JS */
}

.modal-form-x {
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 0px;
  right: -25px;
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;
}

.form-click {
  border: 0 none;
  padding: 0px;
  margin-bottom: 20px;
}

.modal-form-x:hover,
.modal-form-x:focus {
  opacity: 0.5;
}

.modal-form-x:active {
  opacity: 0.3;
}

.modal-form-x:focus {
  outline: none;
}

/*checkbox */

.checkbox-indicator {
  padding-right: 32px;
  position: relative;
}

.checkbox-indicator::before {
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  left: 0px;
  left: -3px;
  top: -4px;
  position: absolute;
}

.form-input:checked + .checkbox-indicator::after {
  content: "";
  background-image: url(/static/images/checked.svg);
  position: absolute;
  width: 14.23px;
  height: 14.64px;
  margin-left: 0px;
  margin-top: -1px;
}

.form-input:checked ~ .filter-item-text,.form-input:hover ~ .filter-item-text,.form-input:focus ~ .filter-item-text {
  text-decoration-line: underline;
}
