/* poster */

.poster {
  display: flex;
  margin-top: 129px;
  width: 100%;

  @media (min-width: 768px) and (max-width: 810px) {
    margin-top: 35px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    margin-top: 5px;
  }

  &__slider {
    background-color: #eee4db;
    position: relative;
    padding-top: 1px;
  }

  &__title {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 40px;
    line-height: 110%;
    color: #1e0606;
    margin-bottom: 20px;
    margin-top: 89px;
    margin-left: 133px;
    display: flex;
    flex-wrap: wrap;
    max-width: 307px;
    max-height: 88px;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-left: 65px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 36px;
      margin-left: 20px;
      margin-top: 81px;
      margin-bottom: 15px;
    }
  }

  &__text {
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: #1e0606;
    margin-bottom: 20px;
    margin-top: 20px;
    margin-left: 133px;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-left: 65px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 18px;
      line-height: 22px;
      margin-left: 20px;
      margin-top: 0px;
      margin-bottom: 15px;
    }
  }
  &__buttons {
    position: absolute;
    left: 20px;
    top: 87px;

    @media (min-width: 768px) and (max-width: 810px) {
      left: -10px;
      top: 81px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      left: initial;
      right: 9px;
      top: 75px;
    }
  }

  &__page {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-size: 60px;
    line-height: 73px;
    color: rgba(30, 6, 6, 0.05);
    position: absolute;
    max-width: 61px;
    min-height: 74px;
    position: absolute;
    top: 17px;
    left: 28px;

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 49px;
      line-height: 59px;
      left: 0px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      left: initial;
      font-size: 49px;
      line-height: 59px;
      top: 20px;
      right: 19px;            
    }
  }

  &__button {
    background-color: #d6cac2;
    border: none;
    padding: 0;
    height: 3px;
    width: 31px;
    display: flex;
    flex-direction: column;
    margin: 11px;

    @media (min-width: 0px) and (max-width: 810px) {
      height: 2.67px;
      width: 27px;
    }
  }

  &__img {
    position: absolute;
    right: 99px;
    bottom: 39px;

    @media (min-width: 768px) and (max-width: 810px) {
      max-width: 385px;
      min-height: 286px;
      right: 7px;
      bottom: 39px;
    }

    @media (min-width: 811px) and (max-width: 1100px) {
      max-width: 45vw;
      right: 37px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      max-width: 292px;
      min-height: 226px;
      right: 0px;
      top: 212px;
    }
  }

  &__underpost-text {
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 12px;
    line-height: 16px;
    color: #ffffff;
    text-align: center;
    background-color: #c29974;
    text-transform: uppercase;
    min-height: 39px;
    display: flex;
    justify-content: center;
    align-items: center;

    @media (min-width: 0px) and (max-width: 767px) {
      min-height: 55px;
      padding: 0 20px;
    }
  }

  &__button:hover,  &__button:focus {
    background-color: #725f5b;
    cursor: pointer;

  }

  &__button:focus {
    outline: none;

  }

  &__button:active {
    outline: none;

  }

  &__button {
    transition: background-color 0.4s;
  }

  &__button_active-block:not(:hover) {
    background-color: #725f5b;
    border: none;
  }
}



/* category product */

.category__container {

  @media (min-width: 0px) and (max-width: 767px) {
    padding-left: 20px;
    padding-right: 0px;
  }
}

.category {
  &__title {
    margin-top: 90px;
    margin-bottom: 30px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-top: 60px;
      margin-bottom: 24px;
      font-size: 36px;
      line-height: 44px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      margin-top: 80px;
      font-size: 24px;
      line-height: 29px;
      margin-bottom: 20px;
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    margin-bottom: 29px;

    @media (min-width: 0px) and (max-width: 810px) {
      flex-wrap: initial;
      overflow-x: hidden;
      margin-bottom: 18px;
    }

    @media (min-width: 811px) and (max-width: 1200px) {
      flex-wrap: initial;
      overflow-x: hidden;
    }

    @media (min-width: 768px) and (max-width: 810px) {
      margin-bottom: 24px;
    }

  }

  &__button {
    display: flex;
    justify-content: flex-start;
  }

  &__button-list_back {
    background-color: rgba(112, 187, 220, 0.2);
    padding: 0;
    border: none;
    margin-left: 3px;
    width: 37px;
    height: 37px;


    @media (min-width: 768px) and (max-width: 810px) {
      width: 36px;
      height: 36px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: -1px;
      width: 33px;
      height: 33px;
    }
  }

  &__button-list_next {
    background-color: rgba(112, 187, 220, 0.2);
    padding: 0;
    border: none;
    margin-left: 6px;
    width: 37px;
    height: 37px;


    @media (min-width: 768px) and (max-width: 810px) {
      width: 36px;
      height: 36px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: 3px;
      width: 33px;
      height: 33px;
    }
  }

  &__button-change-img {
    margin-left: -1px;
    margin-top: 3px;
  }
}



.category__button-text{
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;

  @media (min-width: 0px) and (max-width: 810px) {
    font-size: 14px;
    line-height: 19px;
  }
}

.category-text {
  max-width: 580px;
  min-height: 44px;
  margin-left: 20px;
  margin-top: 0px;

  @media (min-width: 0px) and (max-width: 600px) {
    max-width: 247px;
    margin-left: 13px;
  }
}

/*delivery*/

.slider {
  display: flex;
  margin-top: 71px;
  flex-wrap: wrap;

  @media (min-width: 768px) and (max-width: 810px) {
    margin-top: 41px;
    flex-wrap: initial;
  }

  @media (min-width: 811px) and (max-width: 1220px) {
    flex-wrap: initial;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    margin-top: 66px;
  }

  &__img {
    background-color: rgba(112, 187, 220, 0.2);
  }

  &__title {
    margin-top: 30px;
    margin-left: 61px;
    margin-bottom: 17px;
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 36px;
      line-height: 44px;
      margin-left: 31px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-left: 0px;
      margin-top: 16px;
    }
  }

  &__block {
    margin-left: 60px;
    display: flex;
    flex-direction: column;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-left: 30px;
    }

    @media (min-width: 0px) and (max-width: 699px) {
      margin-left: 0px;
    }
  }

  &__buttons {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    display: flex;
    justify-content: space-between;

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: 0px;
    }
  }

  &__button-item {
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;
    padding: 0;
    border: none;
    background-color: transparent;

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__button-item_active {
    font-weight: bold;
    margin-bottom: 11px;
    margin-top: -6px;
    background-color: rgba(112, 187, 220, 0.2);
    width: 326px;
    padding-top: 11px;
    padding-bottom: 12px;
    display: flex;
    justify-content: flex-start;
    padding-left: 60px;

    @media (min-width: 768px) and (max-width: 810px) {
      padding-left: 30px;
      max-width: 267px;
      min-height: 45px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      padding-left: 21px;
      max-width: 267px;
      min-height: 45px;
      padding-top: 14px;
      padding-bottom: 0;
      margin-left: -20px;
      margin-top: 1px;
    }
  }

  &__button-item_mt {
    margin-bottom: 30px;
    margin-left: 60px;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-left: 30px;
      margin-bottom: 20px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: 0px;
      margin-bottom: 18px;
    }
  }

  &__button-item_mb {
    margin-left: 60px;
    margin-bottom: 22px;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-left: 30px;
      margin-bottom: 15px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      margin-left: 0px;
      margin-bottom: 13px;
    }
  }

  &__text {
    display: flex;
    flex-wrap: wrap;
    max-width: 480px;
    margin-left: 60px;
    margin-top: 0px;
    font-family: "Open Sans",sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media (min-width: 768px) and (max-width: 810px) {
      max-width: 314px;
      margin-left: 30px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      max-width: 335px;
      margin-left: 0px;
    }
  }
}

/*partners*/

.partners {
  margin-top: 90px;
  margin-bottom: 110px;

  @media (min-width: 768px) and (max-width: 810px) {
    margin-top: 60px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    padding-bottom: 0px;
    margin-bottom: 67px;
  }

  &__item {
    @media (min-width: 839px) and (max-width: 945px) {
      padding-right: 14px;
      margin-top: 83px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      padding-bottom: 31px;
    }

    &_eltex {
      @media (min-width: 0px) and (max-width: 767px) {
        order: 1;
      }
    }

    &_apple {
      @media (min-width: 0px) and (max-width: 767px) {
        order: 2;
      }
    }

    &_mail {
      @media (min-width: 0px) and (max-width: 767px) {
        order: 3;
      }
    }

    &_owox {
      @media (min-width: 0px) and (max-width: 767px) {
        order: 4;
      }
    }
  }

  &__list {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    align-items: center;
    flex-wrap: wrap;
  }

  &__img_mail {
    @media (min-width: 768px) and (max-width: 900px) {
      width: 106px;
      height: 33px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 131px;
      height: 42px;
    }
  }

  &__img_apple {
    @media (min-width: 768px) and (max-width: 900px) {
      width: 98px;
      height: 34px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 109x;
      height: 38px;
    }
  }

  &__img_eltex {
    @media (min-width: 768px) and (max-width: 900px) {
      width: 119px;
      height: 25px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 149x;
      height: 32px;
    }
  }
  &__img_owox {
    @media (min-width: 768px) and (max-width: 900px) {
      width: 116px;
      height: 22px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 143px;
      height: 26px;
    }
  }
}

/*about us*/

.wrapper {
  display: flex;
  justify-content: flex-start;
  margin-bottom: 147px;

  @media (min-width: 768px) and (max-width: 810px) {
    margin-bottom: 125px;
    
  }

  @media (min-width: 0px) and (max-width: 767px) {
    flex-direction: column;
    margin-bottom: 148px;

  }
}

.info-box {
  background-color: #e1f0f7;
  display: flex;
  padding: 0 30px;
  position: relative;
  align-items: flex-start;
  flex-direction: column;
  height: fit-content;
  max-width: 543px;
  margin-right: 57px;

  @media (min-width: 768px) and (max-width: 810px) {
    max-width: 314px;
    margin-right: 20px;
    padding: 0 15px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    width: 100%;
    padding: 0 20px;
    margin-bottom: 50px;

  }

  &__title-main {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-top: -25px;
    margin-bottom: 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 30px;
      line-height: 37px;
      margin-top: -19px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 24px;
      line-height: 29px;
      margin-top: -13px;
    }
  }

  &__title {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: "Crimson Text", serif;
    font-style: italic;
    font-weight: normal;
    font-size: 26px;
    line-height: 32px;

    @media (min-width: 768px) and (max-width: 810px) {
      margin-top: 14px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
    }
  }

  &__text {
    margin-bottom: 20px;
    display: flex;
    flex-wrap: wrap;
    margin-top: 0px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media (min-width: 768px) and (max-width: 810px) {

    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 14px;
      line-height: 19px;
    }
  }

  &__contacts {
    background-color: #e1f0f7;
    display: flex;
    position: relative;
    align-items: flex-start;
    flex-direction: column;
    max-width: 543px;
    padding: 0 30px;
    height: fit-content;

    @media (min-width: 768px) and (max-width: 810px) {
      max-width: 314px;
      padding: 0 15px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      width: 100%;
      padding: 0 20px;
    }
  }

  &__contacts-title {
    display: flex;
    flex-wrap: wrap;
    position: relative;
    margin-bottom: 0;
    font-family: Montserrat,sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 38px;
    line-height: 46px;
    color: #1e0606;
    text-transform: uppercase;
    margin-top: -25px;

    @media (min-width: 768px) and (max-width: 810px) {
      font-size: 30px;
      line-height: 37px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      font-size: 24px;
      line-height: 30px;
      margin-top: -13px;
    }
  }

  &__contacts-text {
    max-width: 483px;
    padding-bottom: 85px;
    margin-top: 18px;
    font-family: "Open Sans", sans-serif;
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 22px;
    color: #1e0606;

    @media (min-width: 768px) and (max-width: 810px) {
      max-width: 284px;
    }

    @media (min-width: 0px) and (max-width: 767px) {
      max-width: 335px;
      padding-bottom: 86px;
      margin-top: 10px;
      font-size: 14px;
      line-height: 19px;
    }
  }
}

/* map in articke */
.map {
  width: calc(100% - 60px);
  height: 200px;
  display: flex;
  flex-wrap: wrap;
  position: absolute;
  top: 126px;


  @media (min-width: 768px) and (max-width: 810px) {
    height: 151px;
    top: 192px;
    width: calc(100% - 45px);
  }

  @media (min-width: 0px) and (max-width: 767px) {
    top: 114px;
    width: calc(100% - 40px);
  }
}

.map iframe {
  width: 100%;
  height: 100%;
  border: 0;
}

/* modal form */

.modal-form {
  background-color: rgba(125, 151, 218, 0.8);
  position: fixed;
  top: 0px;
  right: 0px;
  bottom: 0px;
  left: 0px;
  display: flex;
}

.modal-form_none {
  display: none; /*до JS */
}

.modal-form__x {
  background-color: transparent;
  display: flex;
  position: absolute;
  top: 0px;
  right: -40px;
  margin: 0px;
  padding: 0px;
  border: none;
  cursor: pointer;

  &:hover,  &:focus {
    opacity: 0.5;
  }

  &:active {
    opacity: 0.3;
  }

  &:focus {
    outline: none;
  }
}
