/*main blok, blogs*/

.blog__article {
  display: flex;
  margin-left: -10px;
  margin-right: -10px;
}

.blog__list {
  display: flex;
  flex-wrap: wrap;
  align-items: flex-start;
  margin-bottom: 7px;
  margin-top: 0px;
}

.selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 44px;
}

