/* title */

.contact-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 40px;
  line-height: 49px;
  text-transform: uppercase;
  margin-top: 57px;
  margin-bottom: 15px;
}

/* page's text */

.contact {
  display: flex;
  justify-content: space-between;

  @media (min-width: 0px) and (max-width: 819px) {
    flex-direction: column-reverse;
  }
}

.contactUs-text {
  font-family: "Open Sans", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 16px;
  line-height: 22px;
  color: #1e0606;
  max-width: 380px;
  display: flex;
  margin-top: 2px;
  margin-bottom: 20px;

  @media (min-width: 695px) and (max-width: 819px) {
    width: 536px;
    text-align: center;
  }

  @media (min-width: 0px) and (max-width: 694px) {
    width: 335px;
    font-size: 14px;
    line-height: 19px;
    text-align: center;
  }

  @media (min-width: 820px) and (max-width: 1105px) {
    padding-left: 5px;
  }
}

.help-text {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: 600;
  font-size: 26px;
  line-height: 34px;
  text-transform: uppercase;
  color: #c29974;
  max-width: 380px;

  @media (min-width: 695px) and (max-width: 819px) {
    width: 536px;
    text-align: center;
    margin-bottom: 45px;
  }

  @media (min-width: 0px) and (max-width: 694px) {
    width: 329px;
    font-size: 24px;
    line-height: 34px;
    text-align: center;
    margin-bottom: 25px;
  }
}

.contact-form {
  display: flex;
}

.modal-window__mb_60 {
  margin-bottom: 60px;
}

.contact-text {
  display: flex;
  flex-direction: column;

  @media (min-width: 0px) and (max-width: 819px) {
    align-items: center;
  }
}

.contact {
  display: flex;
}
