
.modal-window {
  width: 680px;
  padding-left: 40px;
  padding-right: 40px;
  padding-bottom: 42px;
  padding-top: 22px;                     /* ОК margin-bottom: 60px; сделать марджины для стр конт инф плюсом*/
  margin: auto;
  background-color: #e5eaf8;
  position: relative;
}

.form-label {
  font-size: 14px;
  line-height: 16px;
  margin-top: 20px;                        /*ok */
  margin-bottom: 1px;
  color: #1e0606;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  cursor: pointer;
}

.form-input {
  line-height: 47px;
  border: 2px solid rgba(0, 0, 0, 0.2);       /*ok */
  box-sizing: border-box;
  font-family: "Roboto", sans-serif;
  font-style: normal;
  font-weight: normal;
  font-size: 18px;
  color: #1e0606;
  padding-left: 20px;
  margin-top: 6px;
}

.modal-window__checkbox {
  margin-bottom: 20px;                /*ok*/
  border: 0 none;
  padding: 0px;
}

.textarea-massage {
  height: 150px;                            /*ok*/
  margin-top: 6px;
  border: 1px solid rgba(0, 0, 0, 0.2);
}

.modal-window__textarea {
  display: flex;
  flex-direction: column;    /*ok */
  margin-bottom: 22px;
}

.modal-window__row {                /*ok */
  display: flex;
  justify-content: space-between;
}

.modal-window__column {
  display: flex;                     /*ok */
  flex-direction: column;
  width: 290px;
}

.modal-window__column_100 {            /*ok */
  display: flex;
  flex-direction: column;
  width: 600px;
}

.form-input:hover, .form-input:focus {              /*ok*/
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.form-input:active {
  border: 2px solid rgba(0, 0, 0, 0.2);       /*ok*/
}

.form-input:focus {              /*ok*/
  outline: none;
}

.textarea-massage:hover, .textarea-massage:focus {         /*ok*/
  border: 2px solid rgba(0, 0, 0, 0.3);
}

.textarea-massage:active {                        /*ok*/
  border: 2px solid rgba(0, 0, 0, 0.2);
}

.textarea-massage:focus {            /*ok*/
  outline: none;
}

.checkbox-margin {           /*ok*/
  margin-right: 15px;
}

/*checkbox */

.checkbox_indicator {
  padding-right: 32px;       /*ok*/
  position: relative;
}


.checkbox_indicator::before {    /*ok*/
  content: "";
  width: 19px;
  height: 19px;
  border: 2px solid #c29974;
  box-sizing: border-box;
  border-radius: 3px;
  display: block;
  left: 0px;
  left: -3px;
  top: -4px;
  position: absolute;
}


.form-input:checked ~ .checkbox_indicator::after {     /*ok*/
  content: "";
  background-image: url(/static//images/checked.svg);
  position: absolute;
  width: 14.23px;
  height: 14.64px;
  margin-left: 0px;
  margin-top: -1px;
}

.form-input:checked ~ .filter-item-text,.form-input:hover ~ .filter-item-text,.form-input:focus ~ .filter-item__text {
  text-decoration-line: underline;      /*ok*/
}