/* header */
.header {
  background-color: white;
  margin-top: 50px;
  padding-bottom: 0px;
}

.header-content {
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-nav {
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: center;
  flex-wrap: wrap;

  &__list {
  display: flex;
  justify-content: space-between;
  padding-left: 0px;
  margin-left: 60px;
  flex-wrap: wrap;
  }
}

.nav__item {
  font-family: "Open Sans", sans-serif;
  color: #1e0606;
  font-size: 14px;
  line-height: 19px;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
  transition:opacity .4s;

  &:hover,&:focus {
    opacity: 50%;
  }

  &:active {
    opacity: 20%;
  }

  &:focus {
    outline: none;
  }
}

.header-item__contact {
  font-weight: bold;
  display: flex;
  align-items: center;
  justify-content: center;
  width: 92px;
  height: 23.01px;
  margin-left: 23.45px;
  margin-right: 0px;
}

.header-nav__contact {
  display: flex;
  align-items: center;
}

.search-button {
  text-transform: uppercase;
  padding: 0;
  border: none;
  background-color: white;
  transition:opacity .4s;

  &:hover,&:focus {
    opacity: 50%;
    cursor: pointer;
  }

  &:active {
    opacity: 20%;
  }

  &:focus {
    outline: none;
  }
}

.header-logo {
  transition:opacity .4s;

  &:hover,&:focus {
    opacity: 50%;
  }
  
  &:active {
    opacity: 20%;
  }
  
  &:focus {
    outline: none;
  }
  
}
