/* header */
.header {
  background-color: white;
  margin-top: 50px;
  padding-bottom: 0px;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 73px;

  @media (min-width: 0px) and (max-width: 767px) {
    margin-top: 0;
    padding-left: 30px;
    padding-top: 3px;
    padding-bottom: 4px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: space-between;
  }

  @media (min-width: 768px) and (max-width: 810px) {
    margin-top: 0;
    padding-left: 60px;
    padding-top: 3px;
    padding-bottom: 4px;
    right: 0;
    left: 0;
    bottom: 0;
    z-index: 1000;
    justify-content: space-between;
  }

  &__nav-wrapper {
    width: 100%;
    display: flex;
    justify-content: space-between;
    align-items: center;
    flex-wrap: wrap;

    @media (min-width: 0px) and (max-width: 810px) {
      width: initial;
      padding-right: 14.99px;
    }
  }

  &__nav-links {
    display: flex;
    justify-content: space-between;
    padding-left: 0px;
    margin-left: 60px;
    flex-wrap: wrap;

    @media (min-width: 0px) and (max-width: 810px) {
      display: none;
    }
  }

  &__nav-link {
    font-family: "Open Sans", sans-serif;
    color: #1e0606;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    margin-right: 20px;
    text-decoration: none;
    transition: opacity 0.4s;

    &:hover,
    &:focus {
      opacity: 50%;
    }

    &:active {
      opacity: 20%;
    }

    &:focus {
      outline: none;
    }
  }

  &__link-contact {
    font-weight: bold;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 92px;
    height: 23.01px;
    margin-left: 23.45px;
    margin-right: 0px;

    @media (min-width: 0px) and (max-width: 810px) {
      display: none;
      width: initial;
    }
  }

  &__button-menu {
    margin-left: -25px;
    margin-bottom: 6px;
    background-color: transparent;
    font-family: "Open Sans", sans-serif;
    background-color: transparent;
    font-size: 14px;
    line-height: 19px;
    text-transform: uppercase;
    color: #1e0606;
    border: none;

    @media (min-width: 811px) and (max-width: 3000px) {
      display: none;
    }

    &_none {
      display: none;
    }
  }

  &__button-search {
    text-transform: uppercase;
    padding: 0;
    border: none;
    background-color: white;
    transition: opacity 0.4s;

    &:hover,
    &:focus {
      opacity: 50%;
      cursor: pointer;
    }

    &:active {
      opacity: 20%;
    }

    &:focus {
      outline: none;
    }
  }

  &__nav-wrapper-search {
    display: flex;
    align-items: center;
  }

  &__logo-wrapper {
    transition: opacity 0.4s;

    &:hover,
    &:focus {
      opacity: 50%;
    }

    &:active {
      opacity: 20%;
    }

    &:focus {
      outline: none;
    }
  }

  &__logo-img {
    @media (min-width: 376px) and (max-width: 810px) {
      width: 62px;
      height: 32px;
    }

    @media (min-width: 0px) and (max-width: 375px) {
      width: 42px;
      height: 22px;
    }
  }
}

.header__mobile-close-btn_none {
  display: none;
}

.header__mobile {
  z-index: 4;
  position: fixed;
  top: 73px;
  right: 0;
  left: 0;
  bottom: 0;
  background-color: rgba(125, 151, 218, 0.8);

  height: calc(100% - 73px);
  box-sizing: border-box;

  @media (min-width: 769px) and (max-width: 3000px) {
    display: none;
  }
}
.header__mobile_hidden {
  display: none;
}

.header__mobile-nav {
  text-align: center;
  margin-bottom: 25px;
}

.header__mobile-nav-link {
  font-family: "Open Sans", sans-serif;
  color: #1e0606;
  font-size: 16px;
  line-height: 22px;
  text-transform: uppercase;
  margin-right: 20px;
  text-decoration: none;
}
.header__mobile-nav-link_bold {
  font-weight: bold;
}

.header__mobile-nav-item {
  margin-bottom: 20px;
}

.header__mobile-nav-item_mb {
  margin-bottom: 35px;
}

.header__mobile-wrapper-close {
  padding-top: 7px;

  @media (min-width: 376px) and (max-width: 810px) {
    padding-right: 15px;
  }

  @media (min-width: 0px) and (max-width: 375px) {
    padding-right: 8px;
  }
}

.header__mobile-close-btn_none {
  display: none;
}

.header__mobile-wrapper {
  height: fit-content;
  display: flex;
  background-color: #ffffff;
  justify-content: center;
  padding-left: 39px;
}
