<header class="header container">
    <a class="header__logo-wrapper" href="/index.html">
      <img class="header__logo-img" src="/static/images/logo.jpg" alt="logo">
    </a>
    <button class="header__button-menu  header__menu_js"> MENU </button>
    <div class="header__mobile-wrapper-close header__mobile-close-btn_none  header__mobile-close_js"> 
      <img class="header__X-img" src="/static/images/x1.svg" alt="X">       
    </div>
    <nav class="header__nav-wrapper">
      <ul class="hidden-marker header__nav-links ">
        <li>
          <a class="header__nav-link" href="/pages/blog/index.html"> blog </a>
        </li>
        <li>
          <a class="header__nav-link" href="/pages/catalog/index.html"> catalog </a>
        </li>
        <li>
          <a class="header__nav-link" href="#"> about Us </a>
        </li>
        <li> 
          <a class="header__nav-link" href="/pages/animation/index.html"> animation </a>
        </li>
        <li> 
          <a class="header__nav-link" href="/pages/svg/index.html"> svg </a>
        </li>
        <li> 
          <a class="header__nav-link" href="/pages/grid/index.html"> grid </a>
        </li>
      </ul>
      <ul class="hidden-marker header__nav-wrapper-search">
        <li>      
          <button class="header__button-search">
            <picture>
              <source srcset="/static/images/search.mobile.svg"  media="(min-width:0px) and (max-width:375px)">       
                <img class="header__search-img" src="/static/images/search.svg" alt="search">
            </picture>
          </button>
        </li>
        <li>
          <a class="header__nav-link header__link-contact" href="/pages/contact/index.html"> Contact Us </a>
        </li>
      </ul>
    </nav>



    <div class="header__mobile header__mobile_js header__mobile_hidden">
      <div class="header__mobile-wrapper">
        <nav class="header__mobile-nav ">
          <ul class="hidden-marker header__mobile-nav-list">
            <li class="header__mobile-nav-item">
              <a class="header__mobile-nav-link" href="/pages/blog/index.html"> blog </a>
            </li>
            <li class="header__mobile-nav-item">
              <a class="header__mobile-nav-link" href="/pages/catalog/index.html"> catalog </a>
            </li>
            <li class="header__mobile-nav-item">
              <a class="header__mobile-nav-link" href="#"> about Us </a>
            </li>
            <li class="header__mobile-nav-item">
              <a class="header__mobile-nav-link" href="/pages/animation/index.html"> animation </a>
            </li>
            <li class="header__mobile-nav-item">
              <a class="header__mobile-nav-link" href="/pages/svg/index.html"> svg </a>
            </li>
            <li class="header__mobile-nav-item header__mobile-nav-item_mb">
              <a class="header__mobile-nav-link" href="/pages/grid/index.html"> grid </a>
            </li>
            <li class="header__mobile-nav-item ">
              <a class="header__mobile-nav-link header__mobile-nav-link_bold" href="/pages/contact/index.html"> Contact Us </a>
            </li>
          </ul>
      </div>
    </div>


</header>