<header class="header">
  <div class="container header-content">
    <a class="header-logo" href="/index.html">
      <img class="logo" src="/static/images/logo.jpg" alt="logo" width="100" height="52">
    </a>
    <nav class="header-nav">
      <ul class="hidden-marker header-nav__list ">
        <li>
          <a class="nav__item" href="/pages/blog/index.html"> blog </a>
        </li>
        <li>
          <a class="nav__item" href="/pages/catalog/index.html"> catalog </a>
        </li>
        <li>
          <a class="nav__item" href="#"> about Us </a>
        </li>
        <a class="nav__item" href="/pages/animation/index.html"> animation </a>
      </li>
      </ul>
      <ul class="hidden-marker header-nav__contact">
        <li>
          <button class="search-button header-item__seacrh">
            <img class="search-img" src="/static/images/search.svg" alt="search" width="24" height="24">
          </button>
        </li>
        <li>
          <a class="nav__item header-item__contact" href="/pages/contact/index.html"> Contact Us </a>
        </li>
      </ul>
    </nav>
  </div>
</header>