<header class="header container">
    <a class="header-logo" href="/index.html">
      <img class="logo" src="/static/images/logo.jpg" alt="logo">
    </a>
    <button class="header-item__menu header__menu_js"> MENU </button>
    <nav class="header-nav">
      <ul class="hidden-marker header-nav__list ">
        <li>
          <a class="nav__item" href="/pages/blog/index.html"> blog </a>
        </li>
        <li>
          <a class="nav__item" href="/pages/catalog/index.html"> catalog </a>
        </li>
        <li>
          <a class="nav__item" href="#"> about Us </a>
        </li>
        <li> 
          <a class="nav__item" href="/pages/animation/index.html"> animation </a>
        </li>
        <li> 
          <a class="nav__item" href="/pages/svg/index.html"> svg </a>
        </li>
        <li> 
          <a class="nav__item" href="/pages/grid/index.html"> grid </a>
        </li>
      </ul>
      <ul class="hidden-marker header-nav__contact">
        <li>
          <button class="search-button header-item__seacrh">
            <img class="search-img" src="/static/images/search.svg" alt="search" width="24" height="24">
          </button>
        </li>
        <li>
          <a class="nav__item header-item__contact" href="/pages/contact/index.html"> Contact Us </a>
        </li>
      </ul>
    </nav>

<!-- header for mobile/ipad

    <div class="mobile-header mobile-header_js mobile-header_none">
      <div class="mobile-header__main"> 
        <a class="mobile-header__logo" href="/index.html">
          <img class="logo" src="/static/images/logo.jpg" alt="logo">
        </a>
        <div class="mobile-header__close-btn mobile-header__close_js"> 
          <img class="X-img" src="/static/images/x1.svg" alt="X">       
        </div>
        <button class="search-button mobile-header__seacrh">
            <img class="mobile-header__seacrh_img" src="/static/images/search.svg" alt="search">
        </button>
      </div>
      <nav class="mobile-header__nav">
        <ul class="hidden-marker mobile-header__list ">
          <li>
            <a class="mobile-header__item" href="/pages/blog/index.html"> blog </a>
          </li>
          <li>
            <a class="mobile-header__item" href="/pages/catalog/index.html"> catalog </a>
          </li>
          <li>
            <a class="mobile-header__item" href="#"> about Us </a>
          </li>
          <li> 
            <a class="mobile-header__item" href="/pages/animation/index.html"> animation </a>
          </li>
          <li> 
            <a class="mobile-header__item" href="/pages/svg/index.html"> svg </a>
          </li>
          <li> 
            <a class="mobile-header__item" href="/pages/grid/index.html"> grid </a>
          </li>
          <li>
            <a class="mobile-header__item mobile-header__item_contact" href="/pages/contact/index.html"> Contact Us </a>
          </li>
        </ul>
    </div>
-->

</header>