body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;

  @media (min-width: 768px) and (max-width: 810px) {
    padding: 0 60px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    padding: 0 20px;
  }
}

.container_mobile {
  @media (min-width: 0px) and (max-width: 767px) {
    padding: 0 0px;
  }
}

.hidden-marker {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

.visually-hidden {
  font-size: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* breadcrums */


.breadcrumbs  {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
  margin-top: 0px;

  @media (min-width: 0px) and (max-width: 767px) {
    margin-bottom: 30px;
  }

  @media (min-width: 0px) and (max-width: 767px) {
    margin-bottom: 20px;
  }

  &__list{
    display: flex;
    align-items: center;
    margin-top: 0px;
  }

}

.breadcrumb__item {
  font-family: "Crimson Text", serif;
  font-style: italic;
  font-weight: normal;
  font-size: 20px;
  line-height: 25px;
  color: #1e0606;
  margin-right: 20px;
  display: flex;
  align-items: center;

  @media (min-width: 0px) and (max-width: 767px) {
    font-size: 16px;
    line-height: 20px;
  }

  &_active {
    opacity: 0.5;
  }
}




/* порядок страниц */

.selector {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;

  &__pages {
    display: flex;
    margin-left: 64px;
  }

  &__pages-list {
    margin-right: 65px;

    @media (min-width: 0px) and (max-width: 694px) {
      margin-right: 52px;
    }
  }

  &__pages-wrapper {
    display: flex;
    justify-content: center;
    margin-top: -11px;
  }

  &__page-item {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: #1e0606;
    transition: opacity 0.4s;

    &:hover, &:focus {
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  &__button_back {
    transform: matrix(-1, 0, 0, 1, 0, 0);
    transition: stroke 0.4s;

    & > polyline:hover:hover,  & > polyline:hover:focus {
      stroke: #c29974;
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      stroke: #c29974;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }


  &__page-item_current {
    color: #c29974;
  }

  &__button_next {
    transition: stroke 0.4s;

    & > polyline:hover, & > polyline:focus {
      stroke: #c29974;
      cursor: pointer;
      opacity: 1;
    }

    &:active {
      stroke: #c29974;
      opacity: 0.5;
    }

    &:focus {
      outline: none;
    }
  }

  &__button {
    background-color: #fff;
    border: none;
    width: 19px;
    height: 29px;
    padding: 0px;

    &:hover, &:focus {
    outline: none;
  }
  }
}


// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./card-category/card-category";
@import "./button/button";
@import "./link/link";
@import "./card-blog/card-blog";
@import "./card-toy/card-toy";
@import "./modal-window/modal-window";
@import "./pages-title/pages-title";
