
body {
  margin: 0;
}

a {
  text-decoration: none;
}

html {
  box-sizing: border-box;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

$Black:#1e0606;

.container {
  width: 100%;
  max-width: 1220px;
  margin: 0 auto;
  padding: 0 20px;
}

.hidden-marker {
  list-style-type: none;
  margin-left: 0px;
  padding: 0px;
}

.visually-hidden {
  font-size: 0;
  position: absolute;
  clip: rect(1px, 1px, 1px, 1px);
  padding: 0;
  border: 0;
  height: 1px;
  width: 1px;
  overflow: hidden;
}

/* breadcrums */

.breadcrumbs {
  display: flex;
  align-items: center;
  margin-bottom: 0px;
  margin-top: 0px;

  &__item {
    font-family:crimson text;
    font-style: italic;
    font-weight: normal;
    font-size: 20px;
    line-height: 25px;
    color: $Black;
    margin-right: 20px;
    margin-bottom: 46px;
    display: flex;
    align-items: center;
  }

  &__item_active {
    opacity: 0.5;
  }
}

/* порядок страниц */
.pages-block {
  display: flex;
  justify-content: space-between;
  margin-bottom: 48px;
}

.pagination {
  display: flex;
  margin-left: 64px;
}


.pages {
  display: flex;
  justify-content: center;

  &__list {
    margin-right: 65px;
  }

  &__item {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
    font-weight: bold;
    font-size: 16px;
    line-height: 20px;
    text-transform: uppercase;
    color: $Black;

    &:hover, &:focus {
      opacity: 0.5;
    }
  
    &:focus {
      outline: none;
    }
  }

  &__change_back {
    background-image: url(/static/images/next1.png);
    width: 18px;
    height: 30px;
    transform: matrix(-1, 0, 0, 1, 0, 0);
    background-color: #fff;
    border: none;
  
    &:hover,&:focus {
      background-image: url(/static/images/next2.png);
      cursor: pointer;
    }
    
    &:active {
      background-image: url(/static/images/next3.png);
    }
    
    &:focus {
      outline: none;
    }
  }

  &__change_next {
    background-image: url(/static/images/next1.png);
    width: 18px;
    height: 30px;
    background-color: #fff;
    border: none;
  
    &:hover,&:focus {
      background-image: url(/static/images/next2.png);
      cursor: pointer;
    }
  
    &:active {
      background-image: url(/static/images/next3.png);
    }
  
    &:focus {
      outline: none;
    }
  }
}

.current {
  color: #c29974;
}






// Подключение компонентов
@import "./header/header";
@import "./footer/footer";
@import "./card-category/card-category";
@import "./button/button";
@import "./link/link";
@import "./card-blog/card-blog";
@import "./card-toy/card-toy";
@import "./modal-window/modal-window";
@import "./pages-title/pages-title"


