<footer class="footer">
  <div class="footer-content container">
    <div class="footer-content__main">
      <section class="footer-navigation">
        <h2 class="footer footer-title"> Navigation</h2>
        <hr class="footer-line_short"> 
        <ul class="hidden-marker footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#"> About Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#"> Blog </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Design Services </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Featured On </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">2018 Holiday Catalog </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Shop By Designer </a>
          </li>
        </ul>
      </section>
      <section class="footer-information">
        <h2 class="footer footer-title">Customer Information</h2>
        <hr class="footer-line_short"/>
        <ul class="hidden-marker footer-information__list">
          <li class="footer-item">
            <a class="footer-link" href="#">Contact Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Sale Exclusions</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Shipping & Returns</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Search</a>
          </li>
        </ul>
      </section>
      <section class="footer-connect">
        <h2 class="footer footer-title">Connect </h2>
        <hr class="footer-line_short" />
        <form class="email-form" method="POST" action="https://form-data-dl.herokuapp.com/api/messages">
          <p class="connect-form">
            <label for="input-email"> </label>
            <input class="input-email__form" name="email" id="input-email" placeholder="Email">
          </p>
          <button class="button footer-button" type="submit">
            Join
          </button>
        </form>
        <ul class="hidden-marker social-list">
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/facebook.svg" alt="facebook" width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/twitter.svg" alt="twitter"  width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/pinterest.svg" alt="pinterest"  width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/instagram.svg" alt="instagram"  width="30" height="30">
            </a>
          </li>
        </ul>
      </section>
    </div>
    <hr class="footer-line_bottom"/>
    <div class="footer-information__general">
      <div class="company-rating">
        <a class="rating" href="#"> Company Rating </a>
        <button class="star-button">
          <img class="star-img" src="/static/images/star.svg" alt="star">
        </button>
        <button class="star-button">
          <img class="star-img" src="/static/images/star.svg" alt="star">
        </button>
        <button class="star-button">
          <img class="star-img" src="/static/images/star.svg" alt="star">
        </button>
        <button class="star-button">
          <img class="star-img" src="/static/images/star.svg" alt="star">
        </button>
        <button class="star-button">
          <img class="star-item" src="/static/images/star.svg" alt="star">
        </button>
      </div>
      <div class="footer-copyright">
        Copyright © 2018 Dlk • Design Life Kids
      </div>
      <a class="footer-link design" href="#"> Web Design — Direct Line Development </a>
    </div>
  </div>
</footer>