<footer class="footer">
  <div class="footer-content container">
    <div class="footer-content__main">
      <section class="footer-navigation">
        <h2 class="footer footer-title"> Navigation</h2>
        <hr class="footer-line_short"> 
        <ul class="hidden-marker footer-list">
          <li class="footer-item">
            <a class="footer-link" href="#"> About Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#"> Blog </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Design Services </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Featured On </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">2018 Holiday Catalog </a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Shop By Designer </a>
          </li>
        </ul>
      </section>
      <section class="footer-information">
        <h2 class="footer footer-title">Customer Information</h2>
        <hr class="footer-line_short"/>
        <ul class="hidden-marker footer-information__list">
          <li class="footer-item">
            <a class="footer-link" href="#">Contact Us</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Sale Exclusions</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Shipping & Returns</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Terms & Conditions</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Privacy Policy</a>
          </li>
          <li class="footer-item">
            <a class="footer-link" href="#">Search</a>
          </li>
        </ul>
      </section>
      <section class="footer-connect">
        <h2 class="footer footer-title">Connect </h2>
        <hr class="footer-line_short" />
        <form class="email-form" method="POST" action="https://form-data-dl.herokuapp.com/api/messages">
          <p class="connect-form">
            <label for="input-email"> </label>
            <input class="input-email__form" name="email" id="input-email" placeholder="Email">
          </p>
          <button class="button footer-button" type="submit">
            Join
          </button>
        </form>
        <ul class="hidden-marker social-list">
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/facebook.svg" alt="facebook" width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/twitter.svg" alt="twitter"  width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/pinterest.svg" alt="pinterest"  width="30" height="30">
            </a>
          </li>
          <li class="social-item">
            <a class='social-link' href="#">
              <img class="social-img" src="/static/images/instagram.svg" alt="instagram"  width="30" height="30">
            </a>
          </li>
        </ul>
      </section>
    </div>
    <hr class="footer-line_bottom"/>
    <div class="footer-information__general">
      <div class="company-rating">
        <a class="rating-link" href="#"> Company Rating </a>
        <div class="stars">
          <span class="star-wrapper">
            <svg  width="15" height="14" viewBox="0 0 19 18">
              <polygon class="star" stroke-linejoin="round"  points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94"> </polygon> 
            </svg>
          </span>
          <span class="star-wrapper">
            <svg  width="15" height="14" viewBox="0 0 19 18" >
              <polygon class="star" stroke-linejoin="round"  points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94"> </polygon> 
            </svg>
          </span>
          <span class="star-wrapper">
            <svg  width="15" height="14" viewBox="0 0 19 18" >
              <polygon class="star" stroke-linejoin="round"  points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94"> </polygon> 
            </svg>
          </span>
          <span class="star-wrapper">
            <svg  width="15" height="14" viewBox="0 0 19 18">
              <polygon class="star" stroke-linejoin="round"  points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94"> </polygon> 
            </svg>
          </span>
          <span class="star-wrapper">
            <svg  width="15" height="14" viewBox="0 0 19 18" >
              <polygon class="star" stroke-linejoin="round"  points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94"> </polygon> 
            </svg>
          </span>
        </div>
      </div>
      <div class="footer-wrapper"> 
        <div class="footer-copyright">
          Copyright © 2018 Dlk • Design Life Kids
        </div>
        <a class="design" href="#"> Web Design — Direct Line Development </a>
      </div>
    </div>
  </div>

  <section class="footer-navigation_mobile">
    <h2 class="footer footer-title_mobile footer-title__navigation_mt"> Navigation</h2>
    <hr class="footer-line_bottom_mobile">
    <div class="footer-navigation_wrapper">
      <ul class="hidden-marker footer-navigation__list_1">
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#"> About Us</a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#"> Blog </a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Design Services </a>
        </li>
      </ul>
      <ul class="hidden-marker footer-navigation__list_2">
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Featured On </a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">2018 Holiday Catalog </a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Shop By Designer </a>
        </li>
      </ul>
    </div>
  </section>
  <section class="footer-information_mobile">
    <h2 class="footer footer-title_mobile footer-title__information_mt">Customer Information</h2>
    <hr class="footer-line_bottom_mobile" />
    <div class="footer-navigation_wrapper">
      <ul class="hidden-marker footer-information__list_1">
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Contact Us</a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Sale Exclusions</a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Shipping & Returns</a>
        </li>
      </ul>
      <ul class="hidden-marker footer-information__list_2">
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Terms & Conditions</a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Privacy Policy</a>
        </li>
        <li class="footer-item_mobile">
          <a class="footer-link_mobile" href="#">Search</a>
        </li>
      </ul>
    </div>
  </section>
  <section class="footer-connect_mobile">
    <h2 class="footer footer-title_mobile footer-title__connect_mt">Connect </h2>
    <hr class="footer-line_bottom_mobile" />
    <form class="email-form_mobile" method="POST" action="https://form-data-dl.herokuapp.com/api/messages">
      <p class="connect-form_mobile">
        <label for="input-email_mobile"> </label>
        <input class="input-email__form_mobile" name="email" id="input-email_mobile" placeholder="Email">
      </p>
      <button class="button footer-button_mobile" type="submit">
        Join
      </button>
    </form>
    <ul class="hidden-marker social-list_mobile">
      <li class="social-item_mobile">
        <a class='social-link_mobile' href="#">
          <img class="social-img_mobile" src="/static/images/facebook.svg" alt="facebook" width="30" height="30">
        </a>
      </li>
      <li class="social-item_mobile">
        <a class='social-link_mobile' href="#">
          <img class="social-img_mobile" src="/static/images/twitter.svg" alt="twitter" width="30" height="30">
        </a>
      </li>
      <li class="social-item_mobile">
        <a class='social-link_mobile' href="#">
          <img class="social-img_mobile" src="/static/images/pinterest.svg" alt="pinterest" width="30" height="30">
        </a>
      </li>
      <li class="social-item_mobile">
        <a class='social-link_mobile' href="#">
          <img class="social-img_mobile" src="/static/images/instagram.svg" alt="instagram" width="30" height="30">
        </a>
      </li>
    </ul>
    <hr class="footer-line_bottom_mobile" />
  </section>
  <div class="footer-information__general_mobile">
    <div class="company-rating_mobile">
      <a class="rating-link_mobile" href="#"> Company Rating </a>
      <div class="stars_mobile">
        <span class="star-wrapper_mobile">
          <svg width="15" height="14" viewBox="0 0 19 18">
            <polygon class="star_mobile" stroke-linejoin="round"
              points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94">
            </polygon>
          </svg>
        </span>
        <span class="star-wrapper_mobile">
          <svg width="15" height="14" viewBox="0 0 19 18">
            <polygon class="star_mobile" stroke-linejoin="round"
              points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94">
            </polygon>
          </svg>
        </span>
        <span class="star-wrapper_mobile">
          <svg width="15" height="14" viewBox="0 0 19 18">
            <polygon class="star_mobile" stroke-linejoin="round"
              points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94">
            </polygon>
          </svg>
        </span>
        <span class="star-wrapper_mobile">
          <svg width="15" height="14" viewBox="0 0 19 18">
            <polygon class="star_mobile" stroke-linejoin="round"
              points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94">
            </polygon>
          </svg>
        </span>
        <span class="star-wrapper_mobile">
          <svg width="15" height="14" viewBox="0 0 19 18">
            <polygon class="star_mobile" stroke-linejoin="round"
              points="0.88 6.94,  6.92 6.94, 8.94 0.72, 10.96 6.94, 17.5 6.94, 12.21 10.78,14.23 17,8.94 13.16,3.65 17, 5.67 10.78,0.88 6.94">
            </polygon>
          </svg>
        </span>
      </div>
    </div>
    <div class="footer-wrapper_mobile">
      <div class="footer-copyright_mobile">
        Copyright © 2018 Dlk • Design Life Kids
      </div>
      <a class="design_mobile" href="#"> Web Design — Direct Line Development </a>
    </div>
  </div>

</footer>

