.svg-breadcrumbs {
  margin-top: 10px;
  margin-bottom: 6px;
}

.svg-title {
  font-family: "Montserrat", sans-serif;
  font-style: normal;
  font-weight: bold;
  font-size: 36px;
  line-height: 44px;
  text-transform: uppercase;
  margin-top: 54px;
  margin-bottom: 7px;
}

.svg {
  margin-bottom: 25px;


  &__content {
    @media (min-width: 0px) and (max-width: 451px) {
      width: 320px;

    }
  }
}

